.form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;

  text-transform: uppercase;
  background: rgb(14, 24, 32);
}

.form h2 {
  color: white;
  margin: 0;
}

.formContainer {
  grid-column: 2/4;
  overflow-y: scroll;
  max-height: 100vh;
  overflow-x: hidden;
}
.formCloseButton {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 40px;
  cursor: pointer;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490 490' xml:space='preserve'%3E%3Cpath fill='white' d='M11.387 490 245 255.832 478.613 490l10.826-10.826-233.63-234.178 233.63-234.185L478.613 0 245 234.161 11.387 0 .561 10.811l233.63 234.185L.561 479.174z'/%3E%3C/svg%3E");
}

.form label {
  border: 2px solid white;
  border-radius: 16px;
  padding: 8px;
  margin-top: 14px;
  font-size: 1.5rem;
}

.form small {
  font-size: 0.8rem;
}

.form button {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 16px;
}

.form input {
  color: white;
  background: rgb(14, 24, 32);
  font-size: 1.5rem;
  width: 100%;
  border: none;
  outline: none;
}

.form input::placeholder {
  color: white;
}

.form select {
  font-size: 1.5rem;
  background: rgb(14, 24, 32);
  color: white;
  outline: 2px solid white;
  border-radius: 8px;
  border: none;

  /* margin-left: 16px; */
}

.form select::placeholder {
  color: white;
}

.form textarea {
  color: white;
  padding: 8px;
  background: rgb(14, 24, 32);
  border-radius: 8px;
  border: 2px solid white;
  font-size: 1.5rem;
  width: 100%;
  resize: none;
  margin-top: 8px;
}

.form button {
  background: rgb(14, 24, 32);
  border-radius: 8px;
  border: 2px solid white;
  color: white;
}

.form textarea::placeholder {
  color: white;
}
.form .spacer {
  display: inline-block;
  width: 18px;
}
