@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=Lato:wght@300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", -apple-system, sans-serif;
  color: rgb(45, 39, 70);
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
}

@media (max-width: 992px) {
  html,
  body {
    overflow: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Cormorant SC", -apple-system, serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 120%;
  color: rgb(45, 39, 70);
}

h1 {
  font-weight: normal;
  color: #fff;
  letter-spacing: 2px;
}

a,
input,
select {
  font-family: "Lato", -apple-system, sans-serif;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
li {
  color: rgb(45, 39, 70);
  position: relative;
}

li + li {
  margin-top: 16px;
  position: relative;
}

li:before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(45, 39, 70);
  position: absolute;
  left: -20px;
  top: 8px;
}

* {
  box-sizing: border-box;
}
