.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  background: #fff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  color: #fff !important;
}

.main button {
  background: white;
  border-radius: 8px;
  border: 2px solid rgb(45, 39, 70);
  color: rgb(45, 39, 70);
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 1.5rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  position: relative;
}

.sectionItem {
  font-family: "Source Code Pro", -apple-system, monospace;
  color: #000;
  display: flex;
  line-height: 120%;
  padding: 1em;
  font-weight: 400;
  font-size: 1em;
  border-left: 1px solid #000;
  overflow: scroll;
}

.sectionItem + .sectionItem {
  border-top: 1px solid #000;
}

.square {
  width: 4em;
  height: 4em;
  display: block;
  background: #000;
  margin-bottom: 1.5em;
  padding: 1em;
  /* outline: 8px solid #000; */
}

.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  padding: 0 2em;
}

.form_ {
  transition: all 400ms ease;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 60px);
  width: 50%;
  overflow: hidden;
}

.form__visible {
  transform: translateX(0);
  background: rgb(45, 39, 70);
}

.form__hidden {
  transform: translateX(200%);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  grid-row: 1/4;
  grid-column: 1/1;
  display: flex;
  padding: 0 4em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top, rgb(14, 24, 32), rgba(239, 255, 9, 0)),
    url("https://storage.yandexcloud.net/moskvichmag/uploads/2019/02/1162-2266.jpg");
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}

.logo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.lead {
  text-align: center;
  max-width: 500px;
}

@media (max-width: 992px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh max-content;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .logo {
    grid-row: 1/1;
    grid-column: 1/1;
    padding: 0 1em;
    /* justify-content: flex-start; */
    /* padding-top: 5em; */
  }

  .footer {
    height: auto;
    padding: 0 16px;
    position: absolute;
    bottom: 0;
    color: #fff;
    border-color: #fff;
    font-size: 0.7em;
    text-align: center;
  }

  .main {
    overflow: auto;
    height: auto;
    overflow-x: hidden;
  }

  .form__visible {
    position: fixed;
    width: 100%;
    z-index: 20;
  }

  .title {
    margin: 0;
    font-size: 3rem;
  }
}
