.section {
  padding: 0 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: center; */
  position: relative;
}

.title {
  margin-bottom: 36px;
  width: 100%;
}

.list {
  width: 100%;
  margin-left: auto;
}

.section .ctaButton {
  position: absolute;
  /* overflow: hidden; */
  width: 120px;
  padding: 20px;
  height: 120px;
  left: -60px;
  top: 40%;
  background: orange;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
}

.section .ctaButton:hover {
  transform: scale(1.4);
  /* animation: spin 5s linear infinite; */
}

.section .ctaButton svg {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 10px;
  animation: spin 5s linear infinite;
}

.ctaLabel__mobile {
  display: none;
}

.ctaLabel__desktop {
  display: block;
}

@media (max-width: 992px) {
  .section .ctaButton {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background: rgb(255, 122, 45);
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: all 150ms ease;
    z-index: 10;
    font-size: 1em;
    font-weight: bold;
  }

  .section .ctaButton:hover {
    transform: none;
  }

  .ctaLabel__desktop {
    display: none;
  }

  .ctaLabel__mobile {
    display: block;
  }

  .section .ctaButton svg {
    display: none;
  }

  .section {
    padding: 16px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
